<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AssistedPracticeProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetEx</display-name>
    <servlet-name>GetEx</servlet-name>
    <servlet-class>PracticeProject1.GetEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEx</servlet-name>
    <url-pattern>/GetEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostEx</display-name>
    <servlet-name>PostEx</servlet-name>
    <servlet-class>PracticeProject1.PostEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostEx</servlet-name>
    <url-pattern>/PostEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigurationEx</display-name>
    <servlet-name>ConfigurationEx</servlet-name>
    <servlet-class>PracticeProject2.ConfigurationEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigurationEx</servlet-name>
    <url-pattern>/ConfigurationEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericServletEx</display-name>
    <servlet-name>GenericServletEx</servlet-name>
    <servlet-class>PracticeProject3.GenericServletEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletEx</servlet-name>
    <url-pattern>/GenericServletEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericServletExx</display-name>
    <servlet-name>GenericServletExx</servlet-name>
    <servlet-class>PracticeProject3.GenericServletEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletExx</servlet-name>
    <url-pattern>/GenericServletExx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInterfaceEx</display-name>
    <servlet-name>ServletInterfaceEx</servlet-name>
    <servlet-class>PracticeProject4.ServletInterfaceEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInterfaceEx</servlet-name>
    <url-pattern>/ServletInterfaceEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFilterEx</display-name>
    <servlet-name>ServletFilterEx</servlet-name>
    <servlet-class>PracticeProject5.ServletFilterEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFilterEx</servlet-name>
    <url-pattern>/ServletFilterEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFilterExx</display-name>
    <servlet-name>ServletFilterExx</servlet-name>
    <servlet-class>PracticeProject5.ServletFilterEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFilterExx</servlet-name>
    <url-pattern>/ServletFilterExx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFilterE</display-name>
    <servlet-name>ServletFilterE</servlet-name>
    <servlet-class>PracticeProject5.ServletFilterEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFilterE</servlet-name>
    <url-pattern>/ServletFilterE</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ServletFilterEx</display-name>
    <filter-name>ServletFilterEx</filter-name>
    <filter-class>PracticeProject5.ServletFilterEx</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ServletFilterEx</filter-name>
    <url-pattern>/GetEx</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesEx</display-name>
    <servlet-name>CookiesEx</servlet-name>
    <servlet-class>PracticeProject6.CookiesEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesEx</servlet-name>
    <url-pattern>/CookiesEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSessionEx</display-name>
    <servlet-name>HttpSessionEx</servlet-name>
    <servlet-class>PracticeProject9.HttpSessionEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionEx</servlet-name>
    <url-pattern>/HttpSessionEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginLogoutEx</display-name>
    <servlet-name>LoginLogoutEx</servlet-name>
    <servlet-class>PracticeProject.LoginLogoutEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginLogoutEx</servlet-name>
    <url-pattern>/LoginLogoutEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>PracticeProject10.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>PracticeProject10.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>PracticeProject10.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>PracticeProject10.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLRewriteEx</display-name>
    <servlet-name>URLRewriteEx</servlet-name>
    <servlet-class>PracticeProject7.URLRewriteEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLRewriteEx</servlet-name>
    <url-pattern>/URLRewriteEx</url-pattern>
  </servlet-mapping>
</web-app>